/* COMMON */
.row {
    margin: 0;
}
h2,h3,h4,h5,h6 {
    font-family: 'REM', sans-serif;
}
p,li,a {
    font-family: 'Hind', sans-serif;
}
p {
    margin-bottom: 0;
}
a {
    text-decoration: none;
}
.pt {
    padding: 35px 0;
}
/* BANNER */
.banner header {
    padding-top: 25px;
}
.banner header a {
    color: #fff;
}
.banner {
    background: url(../img/banner.jpg);
    background-position: center;
    width: 100%;
}
.banner .banner-txt {
    text-align: center;
    color: #fff;
    padding: 10%;
}
/* AUTHOR INFO */
.author-info p {
    text-align: justify;
    padding: 15px 0;
}
.author-info ul {
    text-align: center;
}
.author-info .learn {
    background: #ddd;
    color: #000;
}
.author-info .video {
    background: #ff0000;
    color: #fff;

}
.author-info .book {
    background:  #ff6600;
    color: #fff;
}
.author-info a {
    padding: 15px 20px;
    margin-top: 20px;
    display: block;
    border-radius: 3px;
    font-weight: bold;
}
/* BG */
.bg {
    background: #000000;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
}
/* AWARDS */
.awards h4 {
    text-align: center;
    padding-bottom: 15px;
}
.awards .bor {
    border: 1px solid #cccccc;
    padding: 15px;
    margin: 10px auto;
}
/* POET INFO */

.poet-info h5 {
    text-align: center;
    position: relative;
}
.poet-info h5::before {
    border: 1px solid #ccc;
    content: "";
    height: 0;
    width: 15%;
    position: absolute;
    top: 50%;
    right: 25%;
}
.poet-info .second::before {
    right: 15%;
}
.poet-info h5::after {
    border: 1px solid #ccc;
    content: "";
    height: 0;
    width: 15%;
    position: absolute;
    top: 50%;
    left: 25%;
}
.poet-info .second::after {
    left: 15%;
}
.poet-info ul {
    padding-top: 15px;
}
/* FOOTER */
footer {
    background: #000000;
    color: #ffffff;
    padding: 35px 0;
}
footer a:hover {
    color: #ffffff;
}

/* MEDIA QUERY */
@media screen and (max-width: 992px) {
    .poet-info h5::before {
        border: none;
    }
    .poet-info h5::after {
        border: none;
    }
}
@media screen and (max-width: 768px) {
    .last {
        width: 100%;
    }
    .awards .bor {
        margin: 0;
        margin-bottom: 10px;
    }
}